$fontspath: '../fonts/';
$imagespath: '../images/'; // bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"; // endbower
// font-face
@font-face {
  font-family: 'SCGBol';
  src: url('../fonts/SCGBol.eot');
  src: url('../fonts/SCGBol.eot') format('embedded-opentype'), url('../fonts/SCGBol.woff2') format('woff2'), url('../fonts/SCGBol.woff') format('woff'), url('../fonts/SCGBol.ttf') format('truetype'), url('../fonts/SCGBol.svg#SCGBol') format('svg');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}
@font-face {
  font-family: 'SCGReg';
  src: url('../fonts/SCGReg.eot');
  src: url('../fonts/SCGReg.eot') format('embedded-opentype'), url('../fonts/SCGReg.woff2') format('woff2'), url('../fonts/SCGReg.woff') format('woff'), url('../fonts/SCGReg.ttf') format('truetype'), url('../fonts/SCGReg.svg#SCGReg') format('svg');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.6px;
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
//--------------------- Core -----------------------
.no-gutter {
  padding: 0;
  margin: 0;
}
.view-move {
  margin-top: 300px;
}
.bottom-logo {
  position: absolute;
  top: -215px;
  right: -250px;
  z-index: -1;
  img {
    height: auto;
    widows: auto;
    margin-right: 20px;
  }
}
//--------------------- Load More -----------------------
.news-post_thumbnail {
  display: none;
}

.scg-blog_post {
  display: none;
}

.loadmore  {
  &:after,
  &:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 30%;
    height: 1px;
    vertical-align: middle;
    background-color: #e1e1e1;
    left: 0.5em;
    margin: 0 -50% 0 0;
  }
  &:before {
    left: -.5em;
    margin: 0 0 0 -50%;
  }
}



// Animation Collapse
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.rotate-180 {
  transform: rotate(180deg);
}
// Lastest Post Hover
.lastest-post .caption-wrapper {
  position: relative;
  overflow: hidden;
}
.lastest-post .caption-wrapper:hover .caption {
  opacity: 1;
}
.lastest-post img {
  float: left;
  z-index: 4;
}
.lastest-post .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.lastest-post .blur {
  background-color: rgba(0,0,0,0.65);
  height: 219px;
  width: 293px;
  z-index: 5;
  position: absolute;
}
.lastest-post .caption-text h1 {
  text-transform: uppercase;
  font-size: 24px;
}
.lastest-post .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 219px;
  width: 200px;
  text-align: left;
  top: 100px;
  left: 20px;
}
// Navbar
.navbar-nav li > a {
  padding-right: 0;
  padding-left: 0;
  &:focus,
  &:hover {
    background: none;
  }
}
.nav li > a {
  font-family: SCGReg;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  &:active,
  &:active:focus,
  &:active:hover,
  &:focus,
  &:hover {
    background: none;
  }
}
.navbar-top {
  min-height: 94px;
  margin-bottom: 0;
}
.navbar-nav-default {
  a {
    color: #333;
  }
}
.navbar-nav_desktop {
  a {
    font-family: SCGReg;
    font-size: 14px;
    text-transform: uppercase;
    color: #898989;
    font-weight: 400;
    margin-right: 22px;
    &:hover {
      color: black;
    }
  }
  .active {
    color: black;
    font-weight: 700;
  }
}
.list-btn_member {
  margin-top: 5px;
}
.navbar-brand {
  padding: 15px 0;
}
.navbar-brand_right {
  float: right;
  padding: 15px 0;
  font-size: 18px;
}
.nav.navbar-right {
  margin-top: 15px;
  a {
    color: #c2c2c2;
    text-align: center;
    font-family: SCGBol;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 20px;
    &:active,
    &:active:focus,
    &:active:hover,
    &:focus,
    &:hover {
      background-color: transparent;
    }
  }
}
.navbar-mobile {
  border: none;
  .navbar-lower {
    height: 58px;
  }
  .icon-bar {
    background-color: #ffffff;
  }
  .btn-service {
    margin-top: 20px;
    margin-left: 15px;
  }
  .btn-menu {
    background-color: #a1a1a1;
    height: 58px;
  }
  .btn-our_service {
    background-color: #e0e0e0;
    height: 58px;
    padding: 0;
    font-size: 14px;
  }
}
.navbar-toggle {
  padding: 0;
  margin: 0;
}
.navbar-collapse {
  padding-top: 10px;
  padding-bottom: 10px;
}
div#service {
  background-color: #e0e0e0;
}
div#navbar {
  background-color: #a1a1a1;
}
//Carousel
.carousel-caption {
  text-align: left;
  text-shadow: none;
  margin: 0;
  padding: 0;
  left: 15%;
  right: 0;
  top: 15%;
  bottom: 107px;
  width: 100%;
  // transform: translateY(-50%);
  bottom: initial;
  color: black;
  font-family: SCGBol;
  font-weight: 700;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  h1 {
    font-size: 6em;
    width: 100%;
  }
  h2 {
    font-size: 4em;
    font-family: SCGReg;
    font-weight: 400;
    width: 100%;
  }

  p {
    margin-top: 10px;
    font-size: 1.2em;
    line-height: 22px;
    width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.carousel .item {
  img {
    min-width: 100%;
  }
}
.carousel-control.left,
.carousel-control.right {
  top: 50%;
  background: none;
  margin-right: 70px;
}
a.right.carousel-control.prev {
  margin-top: -54px;
}
//Our Service
.our-service {
  a {
    text-decoration: none;
    h4 {
      text-align: center;
      height: auto;
      color: #c2c2c2;
      font-family: SCGReg;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      margin-top: 30px;
      margin-bottom: 43px;
      &:active,
      &:active:focus,
      &:active:hover,
      &:focus,
      &:hover {
        color: #000000;
      }
    }
    img:hover {
      filter: brightness(0);
      -webkit-filter: brightness(0);
      -moz-filter: brightness(0);
      -o-filter: brightness(0);
      -ms-filter: brightness(0);
    }
  }
}
.our-serivce_heading {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2em 0;
  color: #a2a2a2;
  font-family: SCGReg;
  font-size: 26px;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
  margin-bottom: 45px;
  &:after,
  &:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 38%;
    height: 1px;
    vertical-align: middle;
    background-color: #c2c2c2;
    left: 0.5em;
    margin: 0 -50% 0 0;
  }
  &:before {
    left: -.5em;
    margin: 0 0 0 -50%;
  }
}
.our-serivce_line {
  border-top: 1px solid #c2c2c2;
  width: 100%;
}
// SCG Marketing
.scg-marketing {
  margin-top: 30px;
}
.wrapper-marketing .caption {
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 15px;
  visibility: hidden;
  opacity: 0;
}
.wrapper-marketing:hover .caption {
  visibility: visible;
  opacity: 1;
}
.wrapper-marketing {
  .caption {
    font-family: SCGReg;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    h4 {
      width: 199px;
      font-size: 36px;
      font-weight: 700;
      line-height: 30px;
      font-family: SCGBol;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }
  }
}
.scg-blog_topic {
  margin-top: 60px;
  margin-bottom: 30px;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: SCGReg;
  h2 {
    font-size: 26px;
    font-weight: 700;
    font-family: SCGBol;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
    color: #111;
    max-width: 755px;
    width: auto;
  }
}
// Blogs
.blog-thumbnail {
  .caption {
    margin-top: 20px;
    margin-bottom: 15px;
    letter-spacing: 0.6px;
    h3 {
      width: 218px;
      color: #000000;
      font-family: SCGBol;
      font-size: 16px;
      font-weight: 700;
      &:active,
      &:focus,
      &:hover, {
        color: #369;
      }
    }
    h4 {
      font-size: 16px;
      color: black;
      width: auto;
      font-weight: 700;
      font-family: SCGBol;
    }
    small {
      font-weight: 400;
      line-height: 24px;
      vertical-align: middle;
      width: auto;
      color: #acacac;
      font-size: 14px;
      font-family: SCGReg;
    }
    p {
    width: 277px;
    color: black;
    font-family: SCGReg;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    justify-content: center;
    }

    a {
      text-decoration: none;
    }
  }
  .blog-icon_group {
    float: right;
    li {
      color: #acacac;
      font-family: SCGReg;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
.icon-view {
  background-image: url("../images/icon-view.png");
  background-position: left center;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-left: 30px;
}
.icon-reply {
  background-image: url("../images/icon-reply.png");
  background-position: left center;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-left: 30px;
  width: 32px;
  height: 32px;
}
.icon-like {
  background-image: url("../images/icon-like.png");
  background-position: left center;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-left: 30px;
  width: 32px;
  height: 32px;
}
.icon-share {
  background-image: url("../images/icon-share.png");
  background-position: left center;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-left: 30px;
  width: 32px;
  height: 32px;
}
// News Activities
.scg-news_activities {
  letter-spacing: 0.6px;
  h2 {
    width: 151px;
    height: 83px;
    color: black;
    font-family: SCGBol;
    font-size: 40px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 28px;
  }
  p {
    width: 322px;
    height: 72px;
    color: #464646;
    font-family: SCGReg;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
  }
}
//Link Social
.icon-link_social {
  padding: 20px;
  a > img {
    margin-right: 30px;
    min-width: 60px;
  }
}
//Footer
.footer {
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
  ul {
    margin-top: 40px;
    font-family: SCGReg;
    font-weight: 400;
  }
  li > h4 {
    color: #ffffff;
    line-height: 26px;
  }
  li > a {
    color: black;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
  }
}
//Subscribe
.form-subscribe {
  margin-bottom: 38px;
  margin-top: 38px;
  background-color: #fff;
  padding: 40px;
  input {
    border-radius: 0;
    margin-right: 15px;
  }
  h5 {
    color: black;
    font-family: SCGBol;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }
  .btn-subscribe_submit {
    border: 1px solid #464646;
    background-color: #7f7f7f;
    color: white;
    font-family: SCGBol;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 132px;
    height: 36px;
  }
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: 20px;
  border-radius: 4px;
}
//Banner Support
.banner-support_link {
  a > img {
    padding-top: 30px;
    padding-bottom: 35px;
  }
}
// END footer
.end-footer {
  background-color: #a1a1a1;
  padding: 15px;
  p {
    color: #ffffff;
    font-family: SCGReg;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
}
// Button
.btn-default {
  width: 92px;
  height: 32px;
  color: #c2c2c2;
  font-family: SCGbol;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-color: #c2c2c2;
  background-color: transparent;
  &:active,
  &:active:focus,
  &:active:hover,
  &:focus,
  &:hover {
    color: #fff;
    border-color: #c2c2c2;
    background-color: #dadada;
    box-shadow: none;
  }
}
.btn-subscribe {
  width: 132px;
  height: 36px;
  border: 1px solid #464646;
  background-color: #7f7f7f;
  color: #ffffff;
}
// Btn View all
.btn-view_all {
  width: 282px;
  height: 211px;
  background-color: #e0e0e0;
  position: relative;
  a {
    text-transform: uppercase;
    text-decoration: none;
  }
  h4 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: SCGReg;
    font-size: 26px;
    font-weight: 400;
    line-height: 64px;
    text-transform: uppercase;
    text-align: center;
  }
}
//--------------- Company Page ---------------
.company-bg_top {
  background-image: url("../images/company/company-bg_top.png");
  background-position: right center;
  background-repeat: no-repeat;
  height: 335px;
  .title-company {
    padding-top: 132px;
    padding-left: 80px;
    h1 {
      color: black;
      font-family: SCGReg;
      font-size: 48px;
      font-weight: 400;
    }
  }
}
.company-description {
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.6px;
  font-family: SCGReg;
  font-size: 16px;
}
.btn-company {
  width: 212px;
  margin-bottom: 10px;
}
//--------------- Service Page ---------------
.service-bg_top {
  background-image: url("../images/service/service-bg_top.png");
  background-position: right center;
  background-repeat: no-repeat;
  height: 272px;
  .title-service {
    padding-top: 108px;
    padding-left: 80px;
    letter-spacing: 0.6px;
    font-family: SCGReg;
    color: black;
    h1 {
      font-size: 48px;
      font-weight: 400;
    }
    h3 {
      font-family: SCGBol;
      font-size: 30px;
      font-weight: 700;
    }
  }
}
.service-desciption {
  h5 {
    letter-spacing: 0.6px;
    font-family: SCGBol;
    font-weight: 700;
    color: black;
  }
  li,
  p {
    font-weight: 400;
    line-height: 26px;
    font-family: SCGReg;
    font-size: 16px;
    letter-spacing: 0.6px;
  }
}
//--------------- Sustainable Page ---------------
.sustainable-bg_top {
  background-image: url("../images/sustain/sustainable-bg_top.png");
  background-position: right center;
  background-repeat: no-repeat;
  height: 317px;
  .title-sustainable {
    padding-top: 128px;
    padding-left: 80px;
    letter-spacing: 0.6px;
    font-family: SCGReg;
    color: black;
    h1 {
      font-size: 48px;
      font-weight: 400;
    }
  }
}
.sustainable-manage {
  padding-top: 40px;
  padding-left: 80px;
  li {
    font-weight: 400;
    line-height: 26px;
    font-family: SCGReg;
    font-size: 16px;
    a {
      text-decoration: none;
      color: #898989;
      &:active,
      &:active:focus,
      &:active:hover,
      &:focus,
      &:hover {
        font-weight: 700;
        color: #000000;
      }
    }
  }
}
.sustainable-desciption {
  letter-spacing: 0.6px;
  h5 {
    font-family: SCGBol;
    font-weight: 700;
    color: black;
  }
  li,
  p {
    font-weight: 400;
    line-height: 26px;
    font-family: SCGReg;
    font-size: 16px;
  }
}
.btn-sustain {
  width: 213px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
//--------------- News Page ---------------
.news-bg_top {
  background-image: url("../images/news/news-bg_top.png");
  background-position: right center;
  background-repeat: no-repeat;
  height: 372px;
  .title-news {
    padding-top: 60px;
    padding-left: 80px;
    letter-spacing: 0.6px;
    font-family: SCGReg;
    color: black;
    line-height: 30px;
    font-weight: 400;
    h1 {
      font-size: 48px;
      font-weight: 400;
      margin-top: 10px;
      text-transform: uppercase;
    }
    h2 {
      font-size: 30px;
      margin: 0;
    }
  }
}
.title-lastest_post {
  padding-left: 20px;
  h4 {
    background-color: #d90b0f;
    width: 125px;
    padding: 5px;
    color: #fff;
    text-align: center;
    font-family: SCGReg;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }
}
.lastest-post {
  padding: 0;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  .caption {
    font-family: SCGReg;
    line-height: 24px;
    h3 {
      color: #ffffff;
      font-family: SCGBol;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }
    small {
      font-weight: 400;
      line-height: 24px;
      vertical-align: middle;
      width: auto;
      color: #acacac;
      font-size: 14px;
    }
  }
}
.caption-wrapper {
  img {
    width: 100%;
    height: auto;
  }
}
.news-post_thumbnail {
  padding-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  h4 {
    width: 288px;
    color: black;
    font-family: SCG;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  small {
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
    width: auto;
    color: #acacac;
    font-size: 14px;
    font-family: SCGReg;
  }
}

.btn-loadmore {
  border: none;
  width: 120px;
  background-color: #e4e4e4;
  color: #bbb;
  font-family: SCGBol;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}


//--------------- Contact Page ---------------

.title-contact {
  padding-top: 40px;
  padding-left: 80px;
  letter-spacing: 0.6px;
  font-family: SCGReg;
  color: black;
  line-height: 30px;
  font-weight: 400;
  h1 {
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.contact-map {
  margin-top: 40px;
  margin-bottom: 32px;
}

.contact-box {
  background-color: #e0e0e0;
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
  font-family: SCGReg;
  h5 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: SCGBol;
    padding-bottom: 20px;
  }
  li,
  p {
    font-size: 16px;
    font-weight: 400;
  }
}

.btn-contact {
  width: 173px;
  height: 40px;
  font-size: 12px;
  padding: 12px 12px;
  margin-bottom: 10px;
}

.btn-register_register {
  border: 2px solid rgba(70, 70, 70, 0.2);
  background-color: #bfbfbf;
  color: white;
  font-family: SCGBol;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 5px;
}
.btn-register_submit {
  color: #0a56a4;
  font-family: SCGBol;
  background-color: #9dbbdb;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 5px;
  border: none;
}
.contact-form {
      font-family: SCGReg;
      font-size: 16px;
      font-weight: 400;
    h5 {
      color: black;
      font-family: SCGBol;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
    input, select {
      border-radius: 0px;
      -webkit-appearance: none;
    }
}
.btn-loadfile {
  background-color: #bfbfbf;
  color: white;
  font-family: SCGBol;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  border: 2px solid rgba(70, 70, 70, 0.2);
}

//--------------- Blog Page ---------------
.blog-tab {
  margin-top: 10px;
  ul >li {
    padding: 0;
  }
}
.btn-blog {
  width: 185px;
  margin-bottom: 10px;
}


// Responsive
@media screen and (max-width: 992px) {
  .btn,
  div,
  h4,
  input,
  p,
  small {
    font-size: 95%;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  //Navbar
  .nav li > a {
    font-size: 12px;
  }
  .btn-navbar {
    width: 70px;
    height: auto;
    font-size: 8px;
  }
  .list-btn_member {
    margin-top: 10px;
  }
  //Bottom Logo
  .bottom-logo {
    position: absolute;
    top: -215px;
    right: -70px;
    z-index: -1;
  }
  //Lastest Post Hover
  .lastest-post .blur {
    height: 530px;
    width: 710px;
  }
  .lastest-post .caption-text {
    height: 530px;
    width: 710px;
    top: 420px;
  }
}

@media(max-width: 768px) {
  //Core
  .btn,
  div,
  h4,
  input,
  p,
  small {
    font-size: 95%;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }

  //Lastest Post Hover
  .lastest-post .blur {
    height: 434px;
    width: 580px;
  }
  .lastest-post .caption-text {
    height: 434px;
    width: 580px;
    top: 170px;
  }
  //Navbar
  .navbar-brand {
    padding: 15px 0;
  }
  .navbar-brand_right {
    padding: 15px 0;
  }
  //Slide
  .carousel-caption {
    top: 0;
    left: 5%;
    height: auto;
  }
  .carousel-caption h1 {
    margin: 0;
    font-size: 20px;
  }

  .carousel-caption h2 {
    margin: 0;
    font-size: 16px;
  }
  .carousel-caption p {
    padding-right: 50px;
    max-width: 280px;
    margin: 0;
  }
  // Marketing
  .wrapper-marketing {
    position: relative;
    height: 210px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .wrapper-marketing img {
    width: 100%;
    height: auto;
  }
  .wrapper-marketing .caption {
    padding-top: 20px;
  }
  //icon Group
  .icon-like,
  .icon-reply,
  .icon-share,
  .icon-view {
    background-size: 15px;
    font-size: 10px;
    padding-left: 20px;
  }
  .blog-icon_group > li {
    padding-left: 0;
  }
  // Blog
  .blog-thumbnail img {
    width: 100%;
  }
  .blog-thumbnail .caption small {
    font-size: 10px;
  }
  //News Activities
  .scg-news_activities h2 {
    font-size: 22px;
  }
  .scg-news_activities p {
    font-size: 95%;
    width: auto;
    line-height: 12px;
  }
  // Btn view-all
  .btn-view_all {
    height: 60px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn-view_all h4 {
    font-size: 14px;
  }
  //Form-Subscribe
  .form-subscribe .btn-subscribe_submit {
    font-size: 10px;
    width: 73px;
    height: 30px;
  }
  // Company
  .company-bg_top {
    background-size: 100%;
  }
  .btn-comnpany {
    width: 300px;
  }
  .company-bg_top .title-company {
    padding: 0;
  }
  // Service
  .service-bg_top {
    background-size: 100%;
  }
  .service-bg_top .title-service {
    padding: 0;
  }
  // Sustain
  .sustainable-bg_top {
    background-size: 100%;
  }
  .sustainable-bg_top .title-sustainable {
    padding: 0;
  }
  .sustainable-tab {
    text-align: center;
    margin-top: 20px;
  }
  .sustainable-manage {
    padding: 0;
    text-align: center;
  }
  // News
  .news-bg_top {
    background-size: 100%;
  }
  .news-bg_top .title-news {
    padding: 0;
  }

  // Blog
  .btn-blog {
    width: 300px;
  }
}
